<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Newapp" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= vite_client_tag %>
    <%= vite_stylesheet_tag "application.css" %>
    <%= vite_typescript_tag 'application' %>
    <!--
      If using a TypeScript entrypoint file:
        vite_typescript_tag 'application'

      If using a .jsx or .tsx entrypoint, add the extension:
        vite_javascript_tag 'application.jsx'

      Visit the guide for more information: https://vite-ruby.netlify.app/guide/rails
    -->

  </head>

  <body id="<%= controller_name %>-<%= controller.action_name %>">
    <main class="container mx-auto mt-28 px-5 flex h-full">
      <%= render "layouts/shared/navigation" %>
      <div class="container ml-48">
        <%= render "layouts/shared/flash" %>
        <%= yield %>
      </div>
    </main>
    <div data-controller="music-player" id="musicPlayer" data-turbo-permanent 
        class="fixed bottom-0 left-0 right-0 w-full bg-gray-900 text-black p-4 flex items-center justify-between hidden">
      <span data-music-player-target="title" class="text-lg font-semibold text-black"></span>
      <audio data-music-player-target="audio" controls class="w-full max-w-3xl mx-4"></audio>
    </div>
  </body>
</html>
